<p style="color: green"><%= notice %></p>

<%= render @apikey %>

<div>
  <%= link_to "Edit this apikey", edit_apikey_path(@apikey) %> |
  <%= link_to "Back to apikeys", apikeys_path %>

  <%= button_to "Destroy this apikey", @apikey, method: :delete %>
</div>
